.msgs_header{
color:#666666;
font-size:12px;
font-weight:bolder;
}

.msgs_INFO_icon{
width:20px;
height:20px;
background-image:url(/images/msgs/info.gif);
background-repeat:no-repeat;
}
.msgs_INFO{
color:#000099;
font-weight:bolder;
}

.msgs_SYSERR_icon{
width:20px;
height:20px;
background-image:url(/images/msgs/syserr.gif);
background-repeat:no-repeat;
}
.msgs_SYSERR{
color:#FF0000;
font-weight:bolder;
}

.msgs_VALIDATION_icon{
width:20px;
height:20px;
background-image:url(/images/msgs/validation.gif);
background-repeat:no-repeat;
}
.msgs_VALIDATION{
color:#FF0000;
font-weight:bolder;
}

.msgs_ALERT_icon{
width:20px;
height:20px;
background-image:url(/images/msgs/validation.gif);
background-repeat:no-repeat;
}
.msgs_ALERT{
color:#FF0000;
font-weight:bolder;
}

.msgs_WARNING_icon{
width:20px;
height:20px;
background-image:url(/images/msgs/validation.gif);
background-repeat:no-repeat;
}
.msgs_WARNING{
color:#FF0000;
font-weight:bolder;
}

.msgs_FEEDBACK_icon{
width:20px;
height:20px;
background-image:url(/images/msgs/feedback.gif);
background-repeat:no-repeat;
}
.msgs_FEEDBACK{
color:#009900;
font-weight:bolder;
}

.msgs_LOCKERR_icon{
width:20px;
height:20px;
background-image:url(/images/msgs/lockerr.gif);
background-repeat:no-repeat;
}
.msgs_LOCKERR{
color:#FF6633;
font-weight:bolder;
}

.msgs_DELERR_icon{
width:20px;
height:20px;
background-image:url(/images/msgs/delerr.gif);
background-repeat:no-repeat;
}
.msgs_DELERR{
color:#FF6633;
font-weight:bolder;
}
