@charset "utf-8";
/* CSS Document */

/* Programmer note: If background-color is customized for implementation, then edit color for 
   TD.errorhide so that administrator error information is not visible on the page. */
BODY {
	background-color : #FFFFFF;
	color : #000066;
	font-family :  Arial, Verdana, Helvetica, sans-serif;
	font : 12px;
}

TD.errorhide {
	font-family : Arial, Verdana, Helvetica, sans-serif;
	color : #FFFFFF;
	font : 12px;
}

H1 {
	color : #990000;
	font-family :  Arial, Verdana, Helvetica, sans-serif;
	font: 10px;
	margin-top : 1.5em;
}

H2 {
	color : #990000;
	font-family :  Arial, Verdana, Helvetica, sans-serif;
	font: 12px;
	margin-top : 1.5em;
}

H3 {
	color : #990000;
	font-family :  Arial, Verdana, Helvetica, sans-serif;
	font : 14px;
	margin-top : 1.5em;
}

H3.bold {
	color : #990000;
	font-family :  Arial, Verdana, Helvetica, sans-serif;
	font : 14px;
	font-weight : bold;
	margin-top : 1.5em;
}

H4 {
	color : #990000;
	font-family :  Arial, Verdana, Helvetica, sans-serif;
	font : 15px;
	margin-top : 1.5em;
}

H4.bold {
	color : #990000;
	font-family :  Arial, Verdana, Helvetica, sans-serif;
	font : 15px;
	font-weight : bold;
	margin-top : 1.5em;
}

H5 {
	color : #990000;
	font-family :  Arial, Verdana, Helvetica, sans-serif;
	font : 16px;
	font-weight : 900;
	margin-top : 1.5em;
}

H5.bold {
	color : #990000;
	font-family :  Arial, Verdana, Helvetica, sans-serif;
	font : 16px;
	font-weight : bold;
	margin-top : 1.5em;
}

H6 {
	color : #000066;
	font-family : Arial, Verdana, Helvetica, sans-serif;
	font : 18px;
	font-weight : bold;
	margin-bottom : 0;
}

TR.mens {
	background-color: #CEE3F6;
	font : 12px;
}

TR.womens {
	background-color: #F8E0E0;
	font : 12px;
}

td.head {
	background-color : #000066;
	color : #FFFFFF;
	font-family : Arial, Verdana, Helvetica, sans-serif;
	font : 16px;
	font-weight : bold;
	text-align : center;
	padding-top : .25in;
	padding-bottom : .25in;
}

TD.leftcol { 
	background-color : #CCCCCC;
	color : #000066;
	padding-left : .15in;
	padding-right : .15in;
	padding-top: .1in;
	font-family : Arial, Verdana, Helvetica, sans-serif;
	font : 12px;
	font-weight : bold;
	border : 0;
}

TD.leftcolsub { 
	background-color : #CCCCCC;
	color : #000066;
	padding-left : .15in;
	padding-right : .15in;
	font-family : Arial, Verdana, Helvetica, sans-serif;
	font : 12px;
	border : 0;
}

TD.leftcolcont { 
	background-color : #CCCCCC;
	color : #990000;
	padding-left : .15in;
	padding-right : .15in;
	font-family : Arial, Verdana, Helvetica, sans-serif;
	font : 12px;
	border : 0;
}
/* 
TD.bar {
	background-color : #990000;
}
*/
TD.bar {
	background-color: #3455bc;
	font-size : 11px;
	font-weight: bold;
	color : #F8F8F3;
}

TD.bar a {
	font-size : 11px;
	font-weight: bold;
	color : #F8F8F3;
}

TD {
	font-family : Arial, Verdana, Helvetica, sans-serif;
	color : #000066;
	font : 12px;
}

TD.white {
	font-family : Arial, Verdana, Helvetica, sans-serif;
	color : #FFFFFF;
	font : 12px;
}

TD.contrast {
	font-family : Arial, Verdana, Helvetica, sans-serif;
	color : #990000;
	font : 12px;
}

TD.bold {
	font-family : Arial, Verdana, Helvetica, sans-serif;
	color : #000066;
	font : 12px;
	font-weight : bold;
}

TD.contrastbold {
	font-family : Arial, Verdana, Helvetica, sans-serif;
	color : #990000;
	font : 12px;
	font-weight : bold;
}

.required {
	font-family : Arial, Verdana, Helvetica, sans-serif;
	color : #ff0000;
	font : 12px;
}

.reqbold {
	font-family : Arial, Verdana, Helvetica, sans-serif;
	color : #ff0000;
	font : 12px;
	font-weight : bold;
}

.bold {
	font-family : Arial, Verdana, Helvetica, sans-serif;
	color : #000066;
	font : 12px;
	font-weight : bold;
}

hr {
	color : #000066;
}

.titleText {
	font-family : Arial, Verdana, Helvetica, sans-serif;
	color : #FFFFFF;
	font : 20px;
	font-weight : bold;
}

.titleHeading {
	font-family : Arial, Verdana, Helvetica, sans-serif;
	color : #000066;
	font : 16px;
	font-weight : bold;
}


